#article {
	.title {
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		height: 40px;
	}
	.info {
		font-size: 14px;
		color: #666;
	}
	.author-image {
		width: 190px;
		height: 190px;
		border-radius: 5px;
	}
	.github {
		font-size: 20px;
		font-weight: bold;
	}
	.bar-title {
		padding: 5px 10px;
		background: #E5FBF3;
	}
	.bar-content {
		display: block;
		color: #333;
		padding: 7px 10px;
		border-top: 1px solid #eee;
		&:hover {
			text-decoration: none;
			background: #EEF8ED;
		}
	}
	// 操作选择框
	.operate-select {
		padding: 0 10px;
		height: 33px;
	}
	//正文内容
	.content {
		min-height: 100px;
	}
	//评论
	.replys {
		.title {
			background: whitesmoke;
			font-size: 14px;
			font-weight: normal;
			text-align: left;
			padding: 10px 10px 10px 50px;
			position: relative;
			.img {
				position: absolute;
				width: 25px;
				height: 25px;
				border-radius: 3px;
				left: 20px;
				top: 7px;
			}
		}
		.detail {
			padding: 10px 20px 35px 20px;
			position: relative;
			.rightBottom {
				position: absolute;
				right: 20px;
				bottom: 10px;
				.timeago {
					font-size: 14px;
					color: #666;
				}
			}
		}
	}
	img {
		max-width: 100%;
	}
}