#index {
	.input-addon {
		background: whitesmoke;
		width: auto;
		line-height: 31px;
	}
	.input {
		width: 300px;
		height: 33px;
	}
	.bar {
		background: #28966F;
		color: #F0FFFB;
		font-size: 14px;
		height: 40px;
		.category {
			padding: 0 10px;
			line-height: 40px;
			float: left;
			&:hover, &.active {
				background: white;
				color: #28966F;
			}
			&:hover {
				cursor: pointer;
				cursor: hand;
			}
			&.active {
				cursor: default;
			}
		}
	}
	.bar-title {
		padding: 5px 10px;
		background: #eee;
	}
	.bar-content {
		display: block;
		color: #333;
		padding: 7px 10px;
		border-top: 1px solid #eee;
		&:hover {
			text-decoration: none;
			background: #EEF8ED;
		}
		&.active {
			border-left: 3px solid #28966F;
			padding-left: 7px;
		}
	}
	.box {
		background: white;
		padding: 15px 10px 15px 50px;
		display: block;
		color: #333;
		font-size: 15px;
		position: relative;
		height: 51px;
		&:hover {
			text-decoration: none;
			background: #EEF8ED;
		}
		&+.box {
			border-top: 1px solid #eee;
		}
		.timeago {
			font-size: 14px;
			color: #777;
		}
		.ower-image {
			width: 30px;
			height: 30px;
			border-radius: 3px;
			position: absolute;
			left: 10px;
			top: 10px;
		}
		.tag-category {
			font-size: 14px;
			padding: 3px 5px;
			color: white;
			margin-right: 3px;
			background: #28966F;
		}
		.tag-good {
			font-size: 14px;
			padding: 3px 5px;
			color: white;
			margin-right: 3px;
			background: #337AB7;
		}
		.tag-top {
			font-size: 14px;
			padding: 3px 5px;
			color: white;
			margin-right: 3px;
			background: #285896;
		}
		.status {
			padding: 1px 5px;
			color: white;
			background: #28966F;
		}
		.last-reply-img {
			width: 16px;
			height: 16px;
		}
	}
	.logo-img {
		width: 210px;
	}
	.bar-btn {
		display: block;
		font-size: 20px;
	}
	.tag-tag {
		background: #318CA4;
		font-size: 14px;
		padding: 3px 5px;
		color: white;
		margin-right: 3px;
		&.active {
			color: yellow;
		}
	}
	.link-bar {
		padding: 5px;
		display: block;
	}
	.friend {
		.box {
			display: inline-block;
			width: auto;
			height: auto;
			padding: 0;
			.common-box {
				padding: 10px;
			}
			.common-img {
				margin: 0 auto;
			}
			.w3c {
				background: #00A3CF;
				width: 80px;
				.img {
					background: url(/static/img/friend/w3c.png);
					width: 28px;
					height: 26px;
				}
			}
			.fex {
				background: #C94700;
				.img {
					background: url(/static/img/friend/fex.png);
					width: 52px;
					height: 26px;
				}
			}
			.ued {
				background: #C94700;
				.img {
					background: url(/static/img/friend/ued.png);
					width: 26px;
					height: 26px;
				}
			}
			.isux {
				background: #333;
				.img {
					background: url(/static/img/friend/isux.png);
					width: 92px;
					height: 26px;
				}
			}
			.text {
				text-align: center;
				background: #28966F;
				color: #F0FFFB;
				padding: 5px 10px;
				font-size: 15px;
				line-height: 25px;
			}
		}
	}
}