#check-register {
	.show-box {
		width: 500px;
		margin: 0 auto;
	}
	.show-box .info {
		padding: 100px 30px;
	}
	#captcha {
		width: 197px;
	}
	//logo
	.logo-content {
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
	.logo-content img {
		width: 100px;
		height: 100px;
	}
	.cap-box {
		width: 200px;
	}
	.steps {
		margin: 20px auto;
	}
}